<div id="features">
  <div class="feature">
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/iPhone-s1.png" width="300" />
        </div>
        <p> Have your ever wondered who deleted you on LinkedIn? </p>
      </h3>
    </div>       
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/iPhone-s2.png" width="300" />
        </div>
        <p> One tap to find out who unfriended you on LinkedIn! </p>
      </h3>
    </div>
  </div>
  <div class="feature"> 
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/iPhone-s3.png" width="300" />
        </div>
        <p> Or to track all your new connections in LinkedIn. </p>
      </h3>
    </div> 
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/iPhone-s4.png" width="300" />
        </div>
        <p> Get access to your all-time history stored in iCloud. </p>
      </h3>
    </div>
  </div>   
  <div class="feature"> 
    <div class="feature-details">
      <h3>
        <div class="images-center">
          <img src="/assets/img/iPhone-s5.png" width="300" />
        </div>
        <p> WHOEVER DELETED YOU,<br>we will find them out!! </p>
      </h3>
    </div>  
  </div>  
  <div class="feature"> 
      <div class="appstore">
    	<div class="appstore-details">
      		<h2>
        		<p><a href="{{ site.appstore_link }}&ct=web"> ❤️ FIND OUT WHO UNFRIENDED YOU ❤️ </a></p>
        		<div class="images-center">
          			<a href="{{ site.appstore_link }}&ct=web"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="260"></a>
        		</div>
        		<p><a href="{{ site.appstore_link }}&ct=web"> Get it FREE on the App Store! </a></p>
        		<p> &nbsp; </p>
        	</h2>
    	</div>
    </div>
  </div>  
</div>

