<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Apps Done Right</span>
        <span class="site-description">Turning ideas into reality</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{site.email_username}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#projects" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
