<div class="user-details">
  <h2 style="font-size: 2.5rem;">OUR BEST APPS</h2>
</div>

<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfriends.app"><img alt="HAVE YOU EVER WONDERED WHO DELETED YOU ON FACEBOOK?" src="{{ "https://stillfriends.app/img/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfriends.app"> STILL FRIENDS FOR FACEBOOK </a></h2>
      <h2>WHO UNFRIENDED ME ON FACEBOOK?</h2>
      <p>Who deleted me on Facebook? Still Friends will answer to who unfriended you on Facebook!
      <br>
      <br>&#9642; Just one tap to find out who deleted you. 
      <br>&#9642; The only unfriended app working in the App Store.
      <br>
      <br>
      </p>
      <center><a href="https://apps.apple.com/app/still-friends-for-facebook/id1122583310?mt=8&ct=bobgoo"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfollowers.app/instagram/"><img alt="GET MORE FOLLOWERS ON INSTAGRAM" src="{{ "https://stillfollowers.app/assets/img/instagram/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfollowers.app/instagram/"> STILL FOLLOWERS FOR INSTAGRAM </a></h2>
      <h2>GET FOLLOWERS FOR INSTAGRAM!</h2>
      <p>Go big on Instagram with Still Followers! Legally!
	  <br>
      <br>&#9642; The best strategy to get more followers on Instagram.
      <br>&#9642; Do not risk your account with other apps.      
	  <br>
	  <br>
	  <br>
	  </p>
      <center><a href="https://apps.apple.com/app/still-followers-for-instagram/id1394497522?mt=8&ct=bobgoo"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://stillfollowers.app/twitter/"><img alt="GET MORE FOLLOWERS ON TWITTER" src="{{ "https://stillfollowers.app/assets/img/twitter/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://stillfollowers.app/twitter/"> STILL FOLLOWERS FOR TWITTER </a></h2>
	    <h2>GET FOLLOWERS FOR TWITTER!</h2>
	    <p>How to succeed on Twitter? Get the Still Followers app!
	    <br>
        <br>&#9642; Tested strategy to grow your Twitter followers.
        <br>&#9642; Do not risk your account by buying followers. 
	    <br>
	    <br>	    
	    <br>
	    </p>
	    <center><a href="https://apps.apple.com/app/still-followers-for-twitter/id1136209740?mt=8&ct=bobgoo"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></center>
    </div>
  </div>
</div>
<br>
<div class="box">
    <div class="user-projects">
    <div class="images-left">
      <a href="https://safewebpro.bobgoo.com"><img alt="THE BEST WHITELIST INTERNET BROWSER FOR iOS" src="{{ "https://safewebpro.bobgoo.com/img/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://safewebpro.bobgoo.com"> SAFE WEB PRO </a></h2>
      <h2>WHITELIST INTERNET BROWSER FOR iOS</h2>
      <p>Safe Web Pro is a must-have in order to control what your guests and employees may browse in your offices.
      <br>
      <br>&#9642; Whitelist browsing solution for your business.
      <br>&#9642; Secure your corporate network now!
      <br>
      <br>      
	  </p>
	  <center><a href="https://apps.apple.com/app/safe-web-pro/id1114000127?mt=8&ct=bobgoo"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></center>
    </div>
  </div>
</div>
<br>
<div class="box">
  <div class="user-projects">
    <div class="images-left">
      <a href="https://safeweb.bobgoo.com"><img alt="DO YOU KNOW WHAT THEY BROWSE?" src="{{ "https://safeweb.bobgoo.com/img/Icon-Rounded-512.png" | prepend: site.baseurl }}" /></a>
    </div>
    <div class="contents-right">
      <h2><a href="https://safeweb.bobgoo.com"> SAFE WEB FOR KIDS </a></h2>
      <h2>DO YOU KNOW WHAT THEY BROWSE?</h2>
      <p>Average age at which your children will first watch porn is 11... Do something now!
      <br>
      <br>&#9642; 34% of the Internet users experienced unwanted exposure to adult content.
      <br>&#9642; Let your children browse only pure content.
      <br>
	  </p>
	  <center><a href="https://apps.apple.com/app/safe-web-for-kids/id460723131?mt=8&ct=bobgoo"><img src="/assets/img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="200"></center>
    </div>
  </div>
</div>